# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
*.env
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
*.iml
.idea/
.vscode/
.vscode/settings.json
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Other files
*.log
*.pot
*.mo
*.pid
*.seed
*.manifest
*.spec

# Ignore all txt files
message_history
*.txt
chats/
vectors/
testing.py